{
  "presets": [
    "@babel/preset-env",
    "@babel/react"
  ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    "transform-async-to-generator",
    "react-hot-loader/babel"
  ]
}
